@* @model IEnumerable<Lab_02.Models.Movie> *@
@model Lab_02.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}x

<h1>Movie List</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="d-flex mb-3" style="justify-content: flex-end;">
    <input type="text" name="id" class="form-control w-auto" placeholder="Search..." />
    <button type="submit" class="btn btn-primary ms-2">Search</button>
</form> *@

<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <form asp-controller="Movies" asp-action="Index" method="get" class="d-flex">
        <input type="text" name="id" class="form-control w-auto" placeholder="Search title ..." />
        <button type="submit" class="btn btn-primary ms-2">Search</button>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
